services:

  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy-${ENV}
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /nginx/conf:/etc/nginx/conf.d
      - /nginx/html:/usr/share/nginx/html
      - /nginx/ssl:/ssl
    networks:
      - app-network
      - database-network

  mongodb:
    image: mongo:latest
    container_name: mongodb-${ENV}
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    networks:
      - database-network
    volumes:
      - mongo_data:/data/db

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio-${ENV}
    restart: always
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - database-network
    volumes:
      - minio_data:/data

  backend:
    restart: always
    image: smootysmart/backend:latest
    container_name: backend-${ENV}
    ports:
      - "${BACKEND_PORT}:8080"
    env_file:
      - ./.env 
    networks:
      - app-network
      - database-network

  frontend:
    restart: always
    image: smootysmart/frontend:latest
    container_name: frontend-${ENV}
    ports:
      - "${FRONTEND_PORT}:3000"
    env_file:
      - ./.env
    networks:
      - app-network

volumes:
  mongo_data:
  minio_data:

networks:
  app-network:
    driver: bridge
  database-network:
    driver: bridge