name: Reuse CD

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      environment:
        required: false
        type: string
        default: 'dev' 
      project:
        required: true
        type: string

jobs:
  deployment:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: read 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Login เข้า GHCR บนเครื่อง Server (Self-hosted)
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 3. Pull Image จาก GHCR
      - name: Pull image from GHCR
        run: docker pull ghcr.io/${{ github.repository_owner }}/${{ inputs.project }}:${{ inputs.tag }} || true

      - name: Prepare .env file
        run: cp /home/smart/.env.${{ inputs.environment }} .env

      - name: Deploy
        run: docker compose -f docker-compose.yml up -d ${{ inputs.project }}

      - name: Remove unused images
        run: docker image prune -a -f