name: Reuse CI

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      directory:
        required: true
        type: string
      project:
        required: true
        type: string
    secrets:
        DOCKERHUB_USERNAME:
            required: true
        DOCKERHUB_TOKEN:
            required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:      
      - uses: actions/checkout@v4
      
      - name: docker build
        run: docker build ${{ inputs.directory}} -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ inputs.project }}:${{ inputs.tag }}

      - name: push image to docker hub
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ inputs.project }}:${{ inputs.tag }}