name: Reuse CD

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      environment:
        required: false
        type: string
      project:
        required: true
        type: string
      directory:
        required: true
        type: string
    secrets:
        DOCKERHUB_USERNAME:
            required: true
        DOCKERHUB_TOKEN:
            required: true

jobs:
  deployment:
    runs-on: self-hosted
    steps:
      - name: Checkout code 
        uses: actions/checkout@v4
      
      - name: pull image from docker hub
        run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/${{ inputs.project }}:${{ inputs.tag }}

      - name: copy .env file
        run: cp /home/smart/.env.${{ inputs.environment }} .env

      - name: Deploy Frontend
        run: docker compose -f docker-compose.yml up -d ${{ inputs.project }}

      - name: remove variable in .env
        run: sed -i '/^TAG=/d' ${{ inputs.directory }}/.env

      - name: remove unused images
        run: docker image prune -a -f